<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rim-man-healthrecsumm-lab-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4cce9491-5e12-4f54-939f-9d1839d32e6e/resourceGroups/rim-man-healthrecsumm-lab-rg/providers/Microsoft.Web/sites/rim-man-healthrecsumm-lab-func</ResourceId>
    <UserName>$rim-man-healthrecsumm-lab-func</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://rim-man-healthrecsumm-lab-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>